@tailwind base;
@tailwind components;
@tailwind utilities;

/* Select */
select {
  appearance: none;
}

body {
  height: 100vh !important;
  overflow-y: hidden;
}

[data-lk-theme] {
  font-family: "Satoshi-Regular", "sans-serif" !important;
}

/* Dark theme */
.lk-room-container {
  background: transparent !important;
}

.lk-participant-tile .lk-participant-placeholder {
  background-color: #222533 !important;
}

.lk-disconnect-button {
  background-color: #55b5a6 !important;
}

/* Buttons */
.lk-button,
.lk-chat-form-button {
  background: #222533 !important;
  border: 1px solid #292b38 !important;
}

.lk-button {
  background-color: #222533 !important;
}

.lk-chat-form-button {
  padding: 20px !important;
  border-radius: 13px !important;
  background-color: #55b5a6 !important;
}

/* Menu */
.lk-device-menu {
  background-color: #222533 !important;
}

/* Participant media */
.lk-participant-media-video[data-lk-orientation="portrait"],
.lk-participant-media-video[data-lk-source="screen_share"] {
  background: #222533 !important;
}

/* Chat */
.lk-chat,
.lk-message-body {
  background-color: #1e202e !important;
}

.lk-message-body {
  border-radius: 13px !important;
  background: #222533 !important;
  border: 1px solid #292b38 !important;
  margin-left: 1rem;
  padding: 10px 15px !important;
}

/* Form control */
.lk-form-control {
  background-color: transparent !important;
  border: 0 !important;
}

.lk-form-control:focus {
  outline: none;
}

/* Meta data */
.lk-meta-data {
  margin-left: 1rem;
}

.lk-list {
  overflow: scroll !important;
}